/* 
---------------------------
PRE LODER 
1- NAVBAR
2-BANNER
3-ABOUT ME
4-PROJECTS 
5-CONTACT
6-FOOTER
7-FLOTING SOCIAL LINKS
---------------------------
*/

.btn:focus {
  outline: unset;
  box-shadow: unset;
}

.btn {
  border: 0;
}

.btn-primary {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 16px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  filter: drop-shadow(0px 24px 48px rgba(99, 60, 247, 0.15));
  padding: 8px 30px;
  width: fit-content;
  margin: auto;
  border: 0;
}

:root {
  --bg-color: #ffffff;
  --bg-color-image: #f2f1ef;
  --skil-box: rgb(249, 249, 249, 0.63);
  --font-color: #222;
  --title-color: #222;
  --Subtitle-color: rgb(44, 44, 44);
  --prar-color: #292f33;
  --header-bg-img-color: #5050511f;
  --footer-bg-color: #ffffff;
  --footer-text: #222;
  --bg-ccontact: #5050511f;
  --Poject-bg: #f9f9f9e8;
  --Poject-hover: #f9f9f9;
}

[data-theme="dark"] {
  --bg-color: #2d3436;
  --bg-color-image: linear-gradient(315deg, #333636 0%, #3b3a3ace 74%);
  --skil-box: #333636;
  --font-color: #efefef;
  --title-color: #fec150;
  --Subtitle-color: #fec150;
  --prar-color: #dddad1;
  --footer-bg-color: #5050511f;
  --footer-text: #ffff;
  --header-bg-img-color: linear-gradient(
    270deg,
    #8743ff 0%,
    #4136f1 100%,
    #4136f1 100%
  );
  --bg-ccontact: transparent;
  --Poject-bg: #333636e8;
  --Poject-hover: black;
}

html {
  scroll-behavior: smooth;
  transition: 0.5s ease-in;
}

.sectionHeading {
  position: relative;
  width: 100%;
}

.sectionHeading .text {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: bold;
  color: rgba(29, 29, 29, 0.815);
  text-align: center;
  font-size: 50px;
}

/* ---------------------------  SCROLL TO TOP BUTTON -------------------------- */

#ScrllToTOPbtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  opacity: 0.7;
  background-color: var(--title-color);
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

#ScrllToTOPbtn:hover {
  background-color: #555;
}

/* ---------------------------   PRE LODER    -------------------------------- */

#Loging {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  z-index: 99999999999999;
  background: white;
}

.LoginSublogo {
  text-transform: uppercase;
  font-weight: 300;
  background: #cc2b5e;
  background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
  background: linear-gradient(to right, #753a88, #cc2b5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: AnimatedGradientBackground 1s ease infinite;
  background-size: 400% 400%;
}

.LoginSublogo h1 {
  font-size: 2.5rem;
  margin-top: 15px;
  font-weight: bold;
  color: transparent;
}

#LogingSVG g .path-1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: LodingSVG_StrokeAni 1s linear forwards;
}

#LogingSVG g .path-2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 0.5s;
  /* fill: transparent; */
  transform: cubic-bezier(0.47, 0, 0.745, 0.715);
  fill-opacity: 0;
}

#LogingSVG g .path-3 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 0.7s;
  fill-opacity: 0;
}

#LogingSVG g .path-4 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 0.9s;
}

#LogingSVG g .path-5 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 0.1s;
}

#LogingSVG g .path-6 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 1.2s;
}

#LogingSVG g .path-7 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill-opacity: 0;
  animation: LodingSVG_StrokeAni 1s linear forwards;
  animation-delay: 1.4s;
}

/* ----------------------- DARK MODE COLOR  ---------------------------------- */

body {
  overflow-x: hidden;
  background: var(--bg-color);
  background-image: var(--bg-color-image);
  transition: 0.7s ease all;
}

/* ---------------------------  NAVBAR  -------------------------------------- */

nav {
  box-shadow: 3px 5px 14px -11px black;
  background: var(--bg-color);
  background-image: var(--bg-color-image);
  z-index: 8;
}

#ToggleBtn {
  z-index: 15;
}

.navbar .navbar-brand {
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  color: var(--prar-color);
  display: flex;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

.logo-outline-2,
.logo-outline-1 {
  position: absolute;
  content: "";
  width: 0;
  height: 5px;
  top: 50%;
  transition: 1s;
  left: 50%;
  transform: translateX(-50%);
  background: #8743ff;
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
}

.logo-outline-2 {
}

.logo-outline-2.active {
  animation: forwards 1s akrb;
}

.logo-outline-1.active {
  animation: forwards 1s akr;
}

.Brand-name {
  transform: scale(0) translateY(5px);
}

@keyframes BrandLogoAni {
  0% {
    transform: scale(0) translateY(5px);
  }

  100% {
    transform: scale(1) translateY(5px);
  }
}

@keyframes akr {
  to {
    top: 0;
  }
}

@keyframes akrb {
  to {
    top: 100%;
    bottom: 0;
  }
}

.navbar .navbar-brand::after {
  bottom: 0;
}

#ToggleBtn .bar {
  background-color: black;
  height: 7px;
  border-radius: 7px;
  width: 40px;
  transition: 0.3s ease-in;
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
}

#ToggleBtn:hover .bar {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
}

#ToggleBtn .bar-1 {
  width: 23px;
}

#ToggleBtn .bar-2 {
  margin: 7px auto;
}

#ToggleBtn .bar-3 {
  width: 23px;
  margin-left: auto;
}

#ToggleBtn.active .bar-1 {
  transform: rotate(45deg) translateY(5px) translateX(8px);
  width: 25px;
}

#ToggleBtn.active .bar-3 {
  transform: rotate(45deg) translateY(-5px) translateX(-8px);
  width: 25px;
}

#ToggleBtn.active .bar-2 {
  transform: rotate(-45deg);
}

#ToggleBtn:hover .bar {
}

#navbarMenu {
  background: var(--bg-color);
  background-image: var(--bg-color-image);
  width: 100%;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 4s ease;
  box-shadow: -8px -2px 14px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -8px -2px 14px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -8px -2px 14px -3px rgba(0, 0, 0, 0.27);
  transform: translateZ(-800px) rotateX(90deg);
  text-align: center;
}

#navbarMenu .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navbarMenu .navbar-nav .nav-item {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  width: 100%;
}

#navbarMenu .navbar-nav .nav-item .nav-link {
  font-size: 3rem;
  font-weight: 900;
  color: black;
  transition: 0.2s ease-in;
}

#navbarMenu .navbar-nav .nav-item:hover .nav-link {
  text-shadow: 5px 5px #fed142;
}

/* THEME SWITCH  */

.theme-switch {
  width: 30px;
  border-radius: 20px;
  height: 50px;
  transition: 0.5s ease all;
  margin: 2px 25px;
  padding: 3px 3px;
  box-shadow: rgb(20 102 204 / 16%) 0px 15px 30px;
  display: flex;
  justify-content: center;
  display: none;
  cursor: pointer;
}

.theme-switch input {
  display: none;
}

.theme-switch .round {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%);
  height: 20px;
  width: 20px;
  border-radius: 20px;
  transition: 0.5s ease;
}

.theme-switch input:checked + .round {
  align-self: flex-end;
  background: white;
}

/* ----------------------------- BANNER  ---------------------------------- */

#Banner-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 30px;
}

.bg-rd-circles {
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  z-index: -555555;
  left: 40%;
}

#Banner-container .container .row {
  padding-top: 0;
  align-items: center;
}

.left-col {
  padding: 0 0 80px 0;
  display: flex;
  flex-direction: column;
}

.BannerHeading span {
}

.BannerHeading span.h-1 {
  font-size: 1.5em;
  color: var(--prar-color);
}

.BannerHeading span.h-2 {
  font-weight: 900;
  font-size: 2em;
  transform: translateY(-15px);
  color: var(--title-color);
  /* text-shadow: 5px 5px 10px rgba(0, 0, 0, .5), 10px 10px 20px rgba(0, 0, 0, .4), 15px 15px 30px rgba(0, 0, 0, .1); */
}

.left-col p {
  /* font-size: 1.3em; */
  padding: 3.7px;
  /* font-weight: 700; */
  animation: slide-right 1s 1 ease-in;
  color: var(--prar-color);
  width: 80%;
}

#bannerBtn {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%, #4136f1 100%);
  box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
  border-radius: 16px;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  filter: drop-shadow(0px 24px 48px rgba(99, 60, 247, 0.15));
  padding: 8px 30px;
  width: fit-content;
  margin: auto;
}

.right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-col img {
  align-self: baseline;
  margin-bottom: 6rem;
  width: 100%;
  border-radius: 13px;
  height: 300px;
}

/**** BANNER BACKGROUND SVG  *****/

body {
  /* position: relative; */
}

.HeaderBcakground-container {
  z-index: -999999;
  width: 100%;
  height: 200vh;
  position: absolute;
  overflow-x: hidden;
}

.HeaderBcakground-container #Banner-header-img {
  display: none;
  width: 50%;
  z-index: -234567890;
  height: 400px;
  top: -2px;
  right: -100px;
  position: absolute;
  border-radius: 0 0 0 200px;
  transform: scale(1.5) rotate3d(1, 0, 3, -15deg);
  /* transform: rotate3d(1, 50, 10, 326deg);
linear-gradient(270deg, #8743FF 0%, #4136F1 100%, #4136F1 100%)
*/
  background: var(--header-bg-img-color);
  /* animation: BnnerSVG_Animation 8s infinite ease alternate; */
}

#Bg-IMG-svg {
  position: absolute;
  left: 0;
  z-index: -4555;
  top: 30vh;
}

body {
  overflow-x: hidden;
}

/* -----------------------------   ABOUT ME  ---------------------------------- */

#ABOUT-ME {
  position: relative;
  min-height: 100vh;
  padding: 40px 10px;
}

#ABOUT-ME #About-Section {
  padding-bottom: 50px;
}

#ABOUT-ME #About-Section .row {
  justify-content: center;
}

#ABOUT-ME #About-Section .About-Section-left {
  padding: 50px 0px 20px 50px;
}

#ABOUT-ME #About-Section .About-Section-left .myImg {
  width: 95%;
  overflow: hidden;
  display: flex;
  padding-left: 0;
  justify-content: center;
  height: 300px;
  box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
}

#ABOUT-ME #About-Section .About-Section-left .myImg img {
  width: 100%;
  border-radius: 12px;
  animation: imgTr infinite 1s alternate;
}

#ABOUT-ME #About-Section .About-Section-left .socila-mediaHandles {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

#ABOUT-ME #About-Section .About-Section-left .socila-mediaHandles a {
  margin: 10px;
}

#ABOUT-ME #About-Section .About-Section-left .socila-mediaHandles a i {
  font-size: 1.5rem;
  color: rgba(44, 43, 43, 0.924);
  transition: 0.5s ease-in;
}

#ABOUT-ME #About-Section .About-Section-left .socila-mediaHandles a:hover i {
  color: rgb(243, 211, 28);
}

#ABOUT-ME #About-Section .About-Section-right {
  padding: 50px;
  text-align: center;
}

#ABOUT-ME #About-Section .About-Section-right h1 {
  color: var(--title-color);
  font-weight: bolder;
}

#ABOUT-ME #About-Section .About-Section-right p {
  color: var(--prar-color);
  font-weight: 800;
}

#ABOUT-ME #About-Section .About-Section-right p strong {
  color: var(--title-color);
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.7px;
}

/*  skill  */

#ABOUT-ME #Skill-Section {
}

#ABOUT-ME #Skill-Section .row {
  align-items: center;
  justify-content: center;
}

#ABOUT-ME #Skill-Section .row .Skill-SubHeading {
  color: var(--title-color);
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  writing-mode: vertical-lr;
}

#ABOUT-ME #Skill-Section .row .Skill-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ABOUT-ME #Skill-Section .row .Skill-Container .skill-Items {
  display: flex;
  flex-direction: column;
  margin: 15px;
  border-radius: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--skil-box);
  box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 10px 6px 19px -10px rgba(0, 0, 0, 0.42);
}

#ABOUT-ME #Skill-Section .row .Skill-Container .skill-Items .SkillImg {
  width: 80px;
  height: 80px;
  /* border-radius: 15px; */
  transition: 0.5s ease;
}

#ABOUT-ME #Skill-Section .row .Skill-Container .skill-Items .SkillName {
  font-weight: bolder;
  color: var(--Subtitle-color);
  padding-top: 8px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
}

#ABOUT-ME #Skill-Section .row .Skill-Container .skill-Items:hover .SkillImg {
  transform: scale(1.035);
}

/* ---------------------------    PROJECTS  -------------------------------------- */

#Project-Section.container-fluid {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.project-container {
  width: 100%;
  margin: 0;
}

.project-container .project-item.row {
  width: 100%;
  margin: 0;
}

.project-container .project-item {
  padding: 50px 0;
  justify-content: center;
  text-align: center;
}

.project-container .project-item .project-img {
  overflow: hidden;
  padding: 0;
  min-height: 67vh;
  padding: 0;
  width: 85%;
  border-radius: 20px;
  box-shadow: 2px 3px 10px rgba(37, 37, 37, 0.918);
}

.project-container .project-item .project-img img {
  margin: auto;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.project-container .project-item .project-detail {
  color: var(--Subtitle-color);
  background-color: #ffffff3d;
  font-size: 3em;
  text-align: center;
  width: 75%;
  border-radius: 10px;
  transform: translateY(-10px);
}

.project-container .project-item .project-detail .project-title {
  font-weight: 900;
  color: var(--Subtitle-color);
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

.project-container .project-item .project-detail p {
  color: var(--prar-color);
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 0;
}

.project-container .project-item .project-img:hover img {
  transform: scale(1.05);
}

.project-container .project-item.row:nth-child(even) {
}

.project-container .project-item.row:nth-child(even) .project-img {
}

.project-container .project-item.row:nth-child(even) .project-detail {
}

.project-list {
  background-color: transparent;
}

.project-list a {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: #333636;
  color: var(--prar-color);
  transition: 0.2s;
  font-weight: 700;
  text-transform: capitalize;
}

.project-list a:hover {
  background-color: transparent;
  color: var(--prar-color);
}

.project-list a.active {
  background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%, #4136f1 100%);
  background-color: linear-gradient(
    270deg,
    #8743ff 0%,
    #4136f1 100%,
    #4136f1 100%
  );
}

.btn.moreProject-btn {
  color: var(--Subtitle-color);
  width: auto;
  margin: auto;
  opacity: 0.8;
  font-weight: 500;
  font-size: 1rem;
  text-transform: capitalize;
}

.btn.moreProject-btn i {
  opacity: 0;
  text-transform: capitalize;
  align-self: stretch;
  transition: 0.2s;
}

.moreProject-btn:hover i {
  opacity: 1;
}

/* ----------------------------- CONTACT  ---------------------------------- */

#Contact-Section.container-fluid {
  min-height: 100vh;
  width: 100%;
}

#Contact-Section .row {
  padding: 50px 0;
  margin-top: 25px;
  /* background: var(--bg-ccontact); */
}

#Contact-Section .row {
}

#Contact-Section .row .Contact-Details {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: flex-start;
  align-items: center;
}

#Contact-Section .Contact-Details .Contact-info {
  margin: 4px;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--title-color);
  outline: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 70%;
  /* box-shadow: 1px 1px 8px -3px black;
-webkit-box-shadow: 1px 1px 8px -3px black;
-moz-box-shadow: 1px 1px 8px -3px black; */
  cursor: pointer;
  background-color: transparent;
}

#Contact-Section .row .Contact-Details .Contact-info i {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: 900;
  height: auto;
  color: var(--title-color);
  width: 10%;
  font-size: 28px;
}

#Contact-Section .Contact-Details .Contact-info h5 {
  margin-left: 10px;
  width: 82%;
  font-weight: 700;
  word-wrap: break-word;
}

.Conatct-form {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.Conatct-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}

.Conatct-form form input,
.Conatct-form form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--title-color);
  outline: 0;
  /* background-color: var(--bg-color);
box-shadow: 1px 1px 8px -3px black;
-webkit-box-shadow: 1px 1px 8px -3px black;
-moz-box-shadow: 1px 1px 8px -3px black; */
  background-color: transparent;
  border-bottom: 2px solid var(--title-color);
  border-radius: 0;
}

.Conatct-form form textarea {
}

.Conatct-form form .btn {
  background-color: var(--title-color);
  margin: 10px 12px;
  font-weight: bold;
  color: white;
  padding: 5px 20px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

/* ----------------------------- FOOTER  ---------------------------------- */

footer.container-fluid {
  background: var(--footer-bg-color);
  padding: 20px 0;
  /* padding-bottom: 0; */
}

/* ----------------------------- FLOTING SOCIAL LINKS  ---------------------------------- */

.Floting.social-section {
  position: absolute;
  top: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  flex-direction: column;
  z-index: 1;
}

.Floting.social-section .MoreBtn {
  color: white;
  background-color: teal;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  padding: 0 10px;
  width: 60px;
  height: 60px;
  border-radius: 50% 0 0 50%;
  transition: 0.4s;
}

.Floting.social-section .MoreBtn::before,
.Floting.social-section .MoreBtn::after {
  content: "";
  position: absolute;
  right: 0;
  width: 30px;
  border-radius: 50%;
  background-color: transparent;
  height: 22px;
}

.Floting.social-section .MoreBtn::after {
  bottom: -21px;
  box-shadow: 15px -9px 0 teal;
}

.Floting.social-section .MoreBtn::before {
  top: -21px;
  box-shadow: 15px 9px 0 teal;
}

.Floting.social-section a {
  background-color: teal;
  margin: 5px;
  padding: 7px;
  border-radius: 50%;
  transition: 0.8s ease;
  width: 100%;
  text-align: center;
  z-index: -2222;
}

.Floting.social-section a i {
  font-size: 20px;
  padding-top: 5px;
  color: white;
}

.Floting.social-section .botton-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.6s ease;
  z-index: -555555;
  padding-top: 10px;
}

.Floting.social-section .top-links {
  display: flex;
  z-index: -555555;
  transition: 0.6s ease;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  flex-direction: column;
}

.Floting.social-section a:hover i {
  text-shadow: 2px 2px red;
}

.Floting.social-section .MoreBtn:hover {
  color: white;
  font-weight: bolder;
}

/******************************************  RESPONSIVE  **********************************************/
/**********************  Extra small devices (phones, 425px and down) ****************************/

@media only screen and (max-width: 425px) {
  .left-col p {
    width: 100%;
  }

  #ABOUT-ME #Skill-Section .row .Skill-SubHeading {
    writing-mode: unset;
    text-align: center;
  }
}

/**********************  Extra small devices (phones, 600px and down) ****************************/

@media only screen and (max-width: 600px) {
  .navbar .container {
    width: 87%;
    margin: auto;
  }

  .left-col,
  .right-col {
    text-align: center;
  }

  #ABOUT-ME #Skill-Section .row .Skill-SubHeading {
    writing-mode: unset;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .HeaderBcakground-container #Banner-header-img {
  }

  .HeaderBcakground-container {
    /* background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%, #4136F1 100%); */
    /* border-radius: 0 0 100% 0;
width: 90%;
*/
    height: 150vh;
  }

  .HeaderBcakground-container #Banner-header-img {
    display: block;
    /* top: -15vh;
width: 40%;
height: 70vh; */
  }

  /************   BANNER (min-width: 600px)) START  ****************/
  #Banner-container .container .row {
    padding-top: 50px;
  }

  .left-col {
  }

  .BannerHeading span {
  }

  .BannerHeading span.h-1 {
    font-size: 1em;
  }

  .BannerHeading span.h-2 {
    font-size: 1.2em;
  }

  .left-col p {
    /* font-size: 1.4em; */
  }

  .right-col img {
    height: 300px;
    width: 75%;
  }

  #bannerBtn {
    margin: 0;
    margin-top: 0;
    margin-right: auto;
  }

  /************   BANNER (min-width: 600px)) END  ****************/
  /************   ABOUT ME  (min-width: 600px))START  ****************/
  #ABOUT-ME #About-Section .About-Section-left .myImg {
    /* padding-left: 10px; */
  }

  #ABOUT-ME #About-Section .About-Section-right {
    text-align: left;
  }

  /************   ABOUT ME (min-width: 600px)) END  ****************/
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 778px) {
  /************   NAVBAR (min-width: 778px)) START  ****************/
  .container .theme-switch {
    display: flex;
  }

  .container .navbar .navbar {
    margin: auto;
  }

  #navbarMenu {
    width: 100%;
  }

  /************   NAVBAR (min-width: 778px)) END  ****************/
  /************   BANNER (min-width: 778px)) START  ****************/
  #Banner-container {
    /* margin-top: 20px; */
  }

  #Banner-container .container .row {
    padding-top: 10px;
  }

  .left-col {
  }

  .BannerHeading span {
  }

  .BannerHeading span.h-1 {
    font-size: 40px;
  }

  .BannerHeading span.h-2 {
  }

  .left-col p {
  }

  #bannerBtn {
  }

  /************   BANNER (min-width: 778px)) END  ****************/
  .HeaderBcakground-container #Banner-header-img {
    top: -50px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  #Banner-container {
    /* margin-top: 50px; */
  }

  /* *** PROJECT FOR 992 And UP  ******* */
  .sectionHeading .text {
    text-align: left;
    font-size: 80px;
    margin-left: 3%;
  }

  #Project-Section.container-fluid {
  }

  .project-container {
  }

  .project-container .project-item {
    padding: 50px 0;
    justify-content: flex-start;
    text-align: center;
  }

  .project-container .project-item .project-img {
    padding: 0;
    width: 55%;
    border-radius: 0 50px 50px 0;
  }

  .project-container .project-item .project-img img {
    margin: auto;
  }

  .project-container .project-item .project-detail {
    background-color: transparent;
    text-align: left;
    width: 40%;
    padding: 0 10px 0 30px;
    border-radius: 0;
    transform: translateY(0);
    margin-left: 10px;
  }

  .project-container .project-item .project-img:hover img {
    transform: scale(1.05);
  }

  .project-container .project-item.row:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project-container .project-item.row:nth-child(even) .project-img {
    border-radius: 50px 0 0 50px;
  }

  .project-container .project-item.row:nth-child(even) .project-detail {
    text-align: right;
    padding: 0 30px 0 10px;
    margin-right: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1024px) */

@media only screen and (min-width: 1104px) {
  /************   BANNER (min-width: 1104px)) START  ****************/
  #Banner-container .container .row {
    padding-top: 0;
  }

  .left-col {
  }

  .BannerHeading span {
  }

  .BannerHeading span.h-1 {
  }

  .BannerHeading span.h-2 {
  }

  .left-col p {
    width: 70%;
    /* font-size: 1.7rem; */
  }

  .right-col img {
    height: 380px;
    width: 90%;
  }

  #bannerBtn {
    margin: 0;
    margin-top: 20px;
    margin-right: auto;
  }

  /************   BANNER (min-width: 1104px)) END  ****************/
  #Contact-Section .Contact-Details .Contact-info {
    width: 85%;
  }
}

@media only screen and (min-width: 1400px) {
  /************   NAVBAR (min-width: 1400px) START  ****************/
  .navbar .container {
    width: 100%;
  }

  .navbar .container .navbar-brand {
    font-size: 3rem;
  }

  .container .theme-switch {
    width: 40px;
    height: 70px;
  }

  .container .theme-switch .round {
    width: 30px;
    height: 30px;
  }

  /************   NAVBAR (min-width: 1400px) END  ***************/
  /************   BANNER (min-width: 1400px)) START  ****************/
  #Banner-container {
    /* margin-top: 20px; */
  }

  #Banner-container .container .row {
    padding-top: 10px;
  }

  .left-col {
    padding-left: 20px;
  }

  .BannerHeading span {
  }

  .BannerHeading span.h-1 {
    font-size: 40px;
  }

  .BannerHeading span.h-2 {
    font-size: 65px;
  }

  .left-col p {
    /* font-size: 27px; */
  }

  .right-col {
  }

  .right-col img {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: 80%;
  }

  /************   BANNER (min-width: 1400px)) END  ****************/
  /************   CONTACT SECTION (min-width: 1400px) START  ***************/
  #Contact-Section.container-fluid {
    margin: auto;
    width: 78%;
  }

  /************   CONTACT SECTION (min-width: 1400px) END  ***************/
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1575px;
  }
}

/*     2560px and up ******    4K  ******* */

@media only screen and (min-width: 2560px) {
  /************   BANNER (min-width: 1104px)) START  ****************/
  #Banner-container .container .row {
    padding-top: 0;
  }

  .left-col {
  }

  .BannerHeading span {
  }

  .BannerHeading span.h-1 {
    font-size: 60px;
  }

  .BannerHeading span.h-2 {
    color: cornsilk;
    font-size: 80px;
  }

  .left-col p {
    font-size: 40px;
    /* font-weight: 700; */
  }

  #bannerBtn {
    margin: 0;
    font-size: 2em;
    margin-top: 20px;
    margin-right: auto;
  }

  .right-col {
    padding: 0;
  }

  .right-col img {
    margin: 0px;
    height: 550px;
    margin-top: 100px;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  .HeaderBcakground-container {
    background: linear-gradient(270deg, #8743ff 0%, #4136f1 100%, #4136f1 100%);
    border-radius: 0 0 100% 0;
    width: 90%;
    height: 100vh;
  }

  .HeaderBcakground-container #Banner-header-img {
    display: none;
    top: -15vh;
    width: 40%;
    height: 70vh;
  }

  /************   BANNER (min-width: 1104px)) END  ****************/
  .sectionHeading {
    width: 78%;
    margin: auto;
  }

  .sectionHeading .text {
    margin-left: 0;
    font-size: 150px;
  }

  .project-container {
    width: 78%;
    margin: auto;
  }

  .project-container .project-item.row {
    justify-content: center;
  }

  .project-container .project-item.row .project-img {
    border-radius: 50px;
  }

  .project-container .project-item.row:nth-child(even) .project-img {
    border-radius: 50px;
  }

  .footer-social a {
    margin: 0px 5px;
    color: var(--footer-text);
  }

  .footer-social a:hover i {
    color: rgb(243, 211, 28);
  }

  footer {
    color: var(--footer-text);
    border-top: 1px solid #565353;
  }

  a:hover {
    color: var(--title-color);
  }
}
